/** CSS STYLE **/
:root {
  --white: #fff;
  --half-white: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --half-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  src: url("../../assets/fonts/OpenSans-Regular.ttf") format(ttf);
}

@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  src: url("../../assets/fonts/OpenSans-Bold.ttf") format(ttf);
}

@font-face {
  font-weight: 400;
  font-family: "Neucha";
  src: url("../../assets/fonts/Neucha-Regular.ttf") format(ttf);
}

html {
  color: var(--dark);
  font: 16px/1.6em "Open Sans", sans-serif;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  margin: 0;

  font-weight: lighter;

  font-family: "Neucha", sans-serif;

  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

h4 {
  font-size: 24px;
}

.color-primary {
  color: var(--primary);
}

.color-brown {
  color: var(--brown);
}

.color-white {
  color: var(--white);
}

.color-half-white {
  color: var(--half-white);
}

.color-half-dark {
  color: var(--half-dark);
}

.subtitle {
  font-size: 24px;
  font-family: "Neucha", sans-serif;
}

.bg-light {
  position: relative;

  z-index: 1;

  background-color: var(--light);
}

.bg-brown {
  position: relative;

  z-index: 1;

  background-color: var(--brown);
}

.bg-dark {
  background-color: var(--primary-dark);
}

.overflow-hidden {
  overflow: hidden;
}

.d-flex {
  display: flex;

  column-gap: 30px;
}

.description {
  font-size: 34px;
  font-family: "Neucha", sans-serif;

  line-height: 1.2;
}

.container {
  position: relative;

  width: 1110px;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  padding-top: 100px;
}

.menu {
  display: block;
  width: 350px;
  height: 348px;
}

.row-1 {
  height: 323px;
}

.visually-hidden {
  position: absolute;

  clip: rect(0 0 0 0);
}

.menu-title {
  font-size: 52px;
}

.card {
  display: block;

  padding: 24px;

  color: var(--primary-dark);

  text-decoration: none;
}

.card h3 {
  color: var(--primary);
}

.card:hover h3 {
  color: var(--white);
}

.card:hover {
  color: var(--white);

  background-color: var(--primary);
}

.card-number {
  padding-bottom: 40px;

  font-size: 64px;
  line-height: 1;
}

.mt-0 {
  margin-top: 0;
}

.mt-14 {
  margin-top: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-200 {
  margin-top: 200px;
}

.textcols {
  column-count: 2;
  column-gap: 30px;
}

.main-img {
  position: absolute;

  top: 55px;
  right: -270px;

  z-index: -1;

  height: 525px;
}

.textcols-title {
  display: block;
  width: 1110px;
  height: 27px;
  margin-top: 100px;
  padding-left: 10px;

  font-size: 14px;
  text-transform: uppercase;
}

.info {
  position: relative;

  left: 570px;

  padding: 12px 24px;

  color: var(--white);
  font-weight: bold;

  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--primary);
}

.info:hover {
  background-color: #ea7600;
}

.bg::before {
  position: absolute;

  z-index: -2;

  width: 100%;
  height: 100%;

  background-image: url(../assets/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 10%;

  content: " ";
}

.shadow {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.video {
  top: 100px;

  padding-top: 0;
  padding-bottom: 0;

  border-style: none;

  text-align: center;
}

.contacts {
  margin-top: 60px;

  font-size: 14px;
  text-align: center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 190px;

  color: var(--white);
}

input[type="email"] {
  width: 423px;
  height: 50px;
  margin-top: 10px;
  padding: 15px;
  border-style: none;
}

.send-button {
  position: relative;
  left: -5px;

  width: 70px;
  height: 50px;

  border-style: none;

  vertical-align: middle;

  background-color: var(--primary);
}

.send-button::before {
  position: relative;

  width: 70px;
  height: 50px;

  content: url(../assets/images/send.svg);
}

.terms-of-use {
  margin: 0;

  color: var(--white);

  font-size: 12px;
}
